* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #020617;
  color: #e5e7eb;
}

/* Sections */
section {
  padding: 80px 20px;
  text-align: center;
}

/* Hero */
.hero {
  background: linear-gradient(135deg, #0f172a, #020617);
}

.hero h1 {
  font-size: 48px;
  color: #38bdf8;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
  color: #cbd5f5;
}

/* Headings */
h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #38bdf8;
}

/* Skills */
.skills ul {
  list-style: none;
}

.skills li {
  display: inline-block;
  margin: 10px;
  padding: 12px 20px;
  background-color: #1e293b;
  border-radius: 20px;
  font-size: 14px;
}

/* Projects */
.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background-color: #020617;
  border: 1px solid #1e293b;
  width: 280px;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card h3 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 14px;
  color: #cbd5f5;
}
/* Contact */
.contact {
  background-color: #0f172a;
}

.contact p {
  margin-bottom: 20px;
  color: #cbd5f5;
}

.contact-links a {
  display: inline-block;
  margin: 10px;
  padding: 12px 22px;
  background-color: #1e293b;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  transition: background 0.3s ease;
}

.contact-links a:hover {
  background-color: #38bdf8;
  color: #020617;
}
